<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.rodalo.copit">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.usb.host"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".utils.ApplicationContext"
    >

        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data
                    android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                    android:resource="@xml/device_filter"
            />
        </activity>

        <activity
                android:name=".ConfigurationActivity"
                android:label="@string/configuration_activity_title"
                android:theme="@style/Base.V23.Theme.AppCompat.Light"
        />

        <activity
                android:name="com.nononsenseapps.filepicker.FilePickerActivity"
                android:label="@string/app_name"
                android:theme="@style/FilePickerTheme"
        />

        <service android:name=".services.CopyService" android:exported="false"/>

    </application>

</manifest>
